body{
    background-color:antiquewhite;
    margin:0px;
}

h1{ 
    font-size:50px;
    color: black;
    text-align:center;
}

h2{
    color:cornflowerblue;
}

a{
    text-decoration:none;
}

#active{
    color:red;
    text-decoration:underline;
}

.saw{
    color:grey;
}

ol{
    margin:0px;
    padding-top: 20px;
}

.title{
    margin: 0px;
    padding:20px;
}

@media not all and (min-width:800px){
    #grid{
        grid-template-rows:150px 1fr;
    }
}

@media all and (min-width:800px){
    #grid{
        display:grid;
        grid-template-columns:150px 1fr;
    }

    h1{
        border-bottom:solid;
        border-width:1px;
        border-color:black;
    }

    ol{
        border-right:solid;
        border-width:1px;
        border-color:black;
    }
}


#grid div{
    display:grid;
    grid-template-rows:1fr 1fr;
    padding: 20px;
    display:block;
}